<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408193577820-fbnl238ljpanf6udhucg0bu4ui3orjit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408193577820-fbnl238ljpanf6udhucg0bu4ui3orjit</string>
	<key>API_KEY</key>
	<string>AIzaSyDmqXUSBecalK311ex0WlDj4GZBH5yF6NE</string>
	<key>GCM_SENDER_ID</key>
	<string>408193577820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.nguyen.SWAVE</string>
	<key>PROJECT_ID</key>
	<string>swave-project</string>
	<key>STORAGE_BUCKET</key>
	<string>swave-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408193577820:ios:4ea9f70d2610fc2a</string>
	<key>DATABASE_URL</key>
	<string>https://swave-project.firebaseio.com</string>
</dict>
</plist>